Tactical RPG/Temp/UnityLockfile
Tactical RPG/Library/ShaderCache/d/dad7d11dc6dc635934c0c59349a7863b.bin
Tactical RPG/Library/ShaderCache/3/3ca56305943eb1dcb20ed07c09028add.bin
Tactical RPG/Library/CrashedAssetImports.txt
Tactical RPG/Library/EditorInstance.json
Tactical RPG/Temp/UnityTempFile-a723b7e7cff5dfd4bb5e7041b1a7a36b
Tactical RPG/Library/CurrentLayout.dwlt
Tactical RPG/Temp/UnityTempFile-f3a4e4b34fb771f498afe3ce8f54d202
Tactical RPG/Library/assetDatabase3
Tactical RPG/Library/LastSceneManagerSetup.txt
